.App {
  font-family: Helvetica;
}


:root {

  --tran-03: all 0.3 ease;

}

.title {
  background-color: #EEEEEE;
  color: black;

}

.container-numero p {
  font-family: 'Roboto', sans-serif;
  font-size: 100pt;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  color: black;
}

.container-button {
  margin-top: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}


.bingo-final {
  background-color: #98A8F8;
  padding: 1rem 2rem 1rem 2rem;
  border: 0px;
  margin-top: 2rem;
}

.bingo-reinicio {
  background-color: #98A8F8;
  padding: 1rem 2rem 1rem 2rem;
  border: 0px;
  margin-top: 2rem;
}

.bingo-final:hover {
  background-color: #BCCEF8;
}

.bingo-reinicio:hover {
  background-color: #BCCEF8;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}

.container-numero {
  width: 100%;
  align-items: center;
}

.container-numero h1 {
  text-align: center;
}

.numero {
  background-color: #B1AFFF;
  border-radius: 10px;
  text-align: center;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.numero-bingos {
  background-color: #B1AFFF;
  border-radius: 10px;
  font-size: 20px;
  height: 200px;
  display: flex;
}

.numero-bingos p {
  margin-right: 20px;
  font-size: 30px;
}

.bingo-numeros {
  width: 100%;
}

.container-table {
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
}

table tr td {
  width: 60px;
  text-align: center;
}

table th tr {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
}

.boton-bingo {

  font-family: Helvetica;
  margin: 0 auto;
  background: white;
  text-align: center;
  font-weight: 600;
  font-size: 15pt;
  height: 40px;
  width: 60px;
  cursor: pointer;
}

.boton-bingo:hover {
  color: white;
  background-color: #95DE7F;
  transition: var(--tran-03);
}

.title {
  height: 40px;
  width: 131px;
  font-size: 30px;
}

#content {
  width: 100%;
}

#bingotable {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  background: white;
}

th,
td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  /* border: 3px solid black; */
  width: 20%;
}


.content {
  display: block;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.bingo-final p{
  font-size: 20px;
}

.bingo-reinicio p{
  font-size: 20px;
}